@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.ready {
		@apply font-extrabold bg-green-300 text-green-800 border-2 border-green-800;
	}

	.ready:hover {
		@apply font-extrabold bg-green-400 text-green-900 border-2 border-green-900;
	}

	tr:hover .ready {
		@apply font-extrabold bg-green-400 text-green-900 border-2 border-green-900;
	}

	.notReady {
		@apply font-extrabold text-red-800 bg-red-300 border-2 border-red-800;
	}

	.notReady:hover {
		@apply font-extrabold bg-red-400 text-red-900 border-2 border-red-900;
	}

	tr:hover .notReady {
		@apply font-extrabold bg-red-400 text-red-900 border-2 border-red-900;
	}

	.unitRow {
		cursor: pointer;
	}

	table {
		@apply text-left table-auto w-full font-bold shadow-xl;
	}

	.tableHeaderRow th {
		@apply bg-indigo-600;
	}

	tr:nth-child(even) {
		@apply bg-gray-300;
	}

	tr:nth-child(odd) {
		@apply bg-gray-400;
	}

	.unitRow:hover  {
		@apply bg-gray-500;
	}
}


/*
.App {
  text-align: center;
}

.title {
	margin-left: 5%;
}

.noConnection {
	font-weight: bold;
	color: #ff3333;
	margin-left: 5%;
}

.unitContainer {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
}

.unitContainer > * {
	flex: 1;
}

.dashboard {
	margin-top: 10%;
}

.dashboard table {
	margin: auto;
	border: inset;
}

.dashboard th {
	text-align: left;
}

.quitButton {
	margin-top: 5%;
	margin-left: 5%;
}

.specInfo {
	margin-left: 10%;
}

.pgContainer {
	margin-top: 5%;
	margin-bottom: 5%;
}

.commandContainer {
	margin-top: 3%;
	margin-bottom: 3%;
}

.commandInfoContainer {
	background-color: grey;
}

.runsContainer {
	margin-top: 2%;
	margin-left: 5%;
}

.noShow {
	display: none;
}
*/
